ion-card {
  
  @media screen and (min-width: 600px) {
    max-width: 50%;
    margin: auto;
  }
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ion-card-title {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 900;
  }
}