<ion-button id="open-modal" color="primary">Crear nodo hijo</ion-button>
<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Crear nodo hijo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Nodo padre"
          labelPlacement="stacked"
          type="text"
          [value]="selectedNode.translation[0]?.title ?? selectedNode.title"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [multiple]="true" label="Idioma" label-placement="stacked" [(ngModel)]="selectedLocale">
          <ion-select-option *ngFor="let item of localeList" [value]="item.locale">
            {{ item.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="confirm()" color="primary" expand="block" [strong]="true">Guardar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>