<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title>Nodos hijos de: {{ selectedParentNode?.translation[0]?.title ?? selectedParentNode?.title }}</ion-title>
    <ion-buttons slot="end">
      <app-create-node-modal></app-create-node-modal>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-select-locale></app-select-locale>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
    <h1>cargando</h1>
  } @else if (!isLoading && !nodeList) {
    <h1> No hay datos </h1>
  } @else {  
    <ion-list>
      @for (item of nodeList; track item.id) { 
        <ion-item>
          <ion-label>{{ item.title }}</ion-label>
          <ion-button fill="clear" slot="end" (click)="showChildren(item.id)">
            <ion-icon name="albums" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" slot="end" (click)="startDelete(item.id)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
